
/* #addAdmin {
  position: absolute;
  bottom: 5px;
  right: 5px;
} */
td,
th {
  cursor: default;
}
.section-title {
    position: relative;
}
.section-title h2 {
    color: #1d2025;
    position: relative;
    margin: 0;
    font-size: 24px;
}
@media (min-width: 768px) {
    .section-title h2 {
        font-size: 28px;
    }
}
@media (min-width: 992px) {
    .section-title h2 {
        font-size: 34px;
    }
}
.section-title.title-ex1 h2 {
    padding-bottom: 20px;
}
@media (min-width: 768px) {
    .section-title.title-ex1 h2 {
        padding-bottom: 30px;
    }
}
@media (min-width: 992px) {
    .section-title.title-ex1 h2 {
        padding-bottom: 40px;
    }
}
.section-title.title-ex1 h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 110px;
    height: 1px;
    background-color: #d6dbe2;
}
@media (min-width: 768px) {
    .section-title.title-ex1 h2:before {
        bottom: 17px;
    }
}
@media (min-width: 992px) {
    .section-title.title-ex1 h2:before {
        bottom: 25px;
    }
}
.section-title.title-ex1 h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 40px;
    height: 1px;
    background-color: #338275 !important;
}
@media (min-width: 768px) {
    .section-title.title-ex1 h2:after {
        bottom: 17px;
    }
}
@media (min-width: 992px) {
    .section-title.title-ex1 h2:after {
        bottom: 25px;
    }
}
.section-title.title-ex1.text-center h2:before {
    left: 50%;
    transform: translateX(-50%);
}
.section-title.title-ex1.text-center h2:after {
    left: 50%;
    transform: translateX(-50%);
}
.section-title.title-ex1.text-right h2:before {
    left: auto;
    right: 0;
}
.section-title.title-ex1.text-right h2:after {
    left: auto;
    right: 0;
}
.section-title.title-ex1 p {
    font-family: "Montserrat", sans-serif;
    color: #8b8e93;
    font-size: 14px;
    font-weight: 300;
}
.admin h2 {
    color: rgb(118, 4, 4);
}

.price-card {
    border: none;
    background: #f5f5f6;
    padding: 10px 35px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}
.price-card:before {
    position: absolute;
    content: "";
    top: 0;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #338275 !important;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}
.price-card:after {
    position: absolute;
    content: "";
    top: 30px;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #338275 !important;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}
.price-card h2 {
    font-size: 26px;
    font-weight: 600;
}
.price-card .btn {
    font-size: 11px;
    border-radius: 100px;
    padding: 0 25px;
    border: 0;
    color: #fff;
    float: right;
}
.price-card .btn.btn-primary {
    border: 0 !important;
}
.price-card.featured {
    background: #fff;
    border: 1px solid #ebebeb;
}
.price-card.featured:hover {
    box-shadow: 0 8px 16px rgba(23, 74, 8, 0.245);
}
.price-card:hover .btn {
    background: #338275 !important;
    border-color:#338275 !important;
}
p.price span {
    display: inline-block;
    padding: 45px 15px 50px;
    padding-right: 0;
    font-size: 50px;
    font-weight: 600;
    color:#338275 !important;
    position: relative;
}
p.price span:before {
    position: absolute;
    content: "$";
    font-size: 16px;
    top: 25px;
    font-weight: 300;
    left: 0;
}
.pricing-offers {
    padding: 0 0 10px;
}
.pricing-offers li {
    padding: 0 0 16px;
    line-height: 18px;
}
ul li {
    list-style-type: none;
}
.btn.btn-mid {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
 
.button-37 {
  background-color:#338275 !important;
  border: 1px solid #338275 !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}






.pagination {
    justify-content: center;
  }
  .description {
    overflow: auto;
    overflow-wrap: break-word;
  }
  .movingBtn {
    background-color: #1b515e;
    border: none;
    outline: none;
  }
  .movingBtn:hover {
    background-color: #338275;
    border: none;
  }
  .movingBtn:active {
    background-color: #338275;
    border: none !important;
    outline: none !important;
  }
  .movingBtn:focus {
    background-color: #1b515e;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  
  h1 {
    color: #1b515e;
  }
  .badge {
    background-color: #338275 !important;
    position: absolute;
    top: 25px;
    right: 0px;
    z-index: 100;
  }
  
  .favorit {
    background-color: #ffffff !important;
    color: #1b515e;
    font-size: 17px;
    position: absolute;
    top: 50px;
    right: -21px;
    z-index: 100;
    cursor: pointer;
  }
  
  .lineDown {
    color: #1b515e;
    background-color: #1b515e;
    width: 100%;
    height: 2px;
    box-shadow: 10px 10px 10px #1b515e;
  }
  .border-container {
    width: 100%;
  }
  .card-list {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .carousel-item {
    overflow: hidden;
    overflow: hidden !important;
    overflow-wrap: break-word;
    z-index: 0;
  }
  .carouselExampleIndicators2 {
    overflow: hidden;
    overflow: hidden !important;
    overflow-wrap: break-word;
  }
  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    overflow: hidden !important;
    overflow-wrap: break-word;
    z-index: 0;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #1b515e;
  }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
  }
  .blog-card .details a {
    text-decoration: dotted underline;
  }
  .blog-card .details ul li {
    display: inline-block;
  }
  .author a {
    text-decoration: none !important;
  }
  .blog-card .details .author:before {
    text-decoration: none;
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
  }
  .blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
  }
  .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
  }
  .blog-card .details .tags li {
    margin-right: 2px;
  }
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
  }
  .blog-card .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden
  }
  .blog-card .description h1,
  .blog-card .description h2 {
    font-family: Poppins, sans-serif;
  }
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
  }
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #1b515e;
    display: inline-block;
    position: relative;
  }
  .blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #1b515e;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }
  .blog-card:hover .details {
    left: 0%;
  }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      transform: skew(3deg);
    }
    .blog-card.alt .details {
      padding-left: 25px;
    }
  }
  
  ul.pagination li a{
    color: white ;
    background-color: #1b515e ;
    border: 1px solid #1b515e;
    border-radius: 0px !important;
    margin: 0 !important;
    justify-self: flex-end ;
  }
  ul.pagination li a:hover {
    color: #1b515e ;
    background-color: white ;
    border: 1px solid #1b515e ;
    border-radius: 0px !important;
    margin: 0 !important;
    justify-self: flex-end !important;
  }
  ul.pagination li a:active {
    color: white !important;
    background-color: #1b515e ;
    border: 1px solid #1b515e ;
    border-radius: 0px !important;
    margin: 0 !important;
    justify-self: flex-end !important;
    outline: none;
  }
  li.active a{
    border: 1px solid #1b515e !important;
    color: #1b515e !important;
    background-color: white !important;
  }
  .active a{
    color: #1b515e !important;
    background-color: white !important;
  }


  .upRE {
    background-color: #338275 !important;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff !important;
  }
  
  .upRE:hover {
    background-color: #338275 !important;
    box-shadow: rgba(0, 0, 0, 0.503) 0 2px 4px 0;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff !important;
    cursor: pointer;
  }
  

























/*  commnet style */
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
    border-top: 1px solid black !important;
}

.userComment {
    border: 2px solid #338275 !important;
}

.h5 {
    margin-bottom: 10px !important;
    color: #338275 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    text-decoration: none;
    color: #777 !important;
}
.g-color-gray-dark-v4:hover{
    text-decoration: none;
    color: #338275;
}

.commentInp {
    border: none;
    border: 1px solid black !important;
    color: #338275; 
    margin: 10px;
    padding: 5px;
}
.commentInp:focus {
    outline: none;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}

#commentbtn {

}
#backToUsers {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.deleteComment {
    color: white !important;
}