@import url(https://fonts.googleapis.com/css?family=Open+Sans);
nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}
nav ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(51, 130, 117) 25%,
    rgb(51, 130, 117) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6); */
}
nav ul li {
  display: inline-block;
  margin: 0 8px;
}
nav ul li a {
  padding: 10px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #1b515e;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


nav ul li a:hover span {
  bottom: 90%;
  visibility: visible;
  opacity: 1;
}
nav ul li a span {
  background: transparent;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  position:  absolute;
  bottom: 90%;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
nav ul li a span:before {
  content: '';
/*   width: 0;
  height: 0; */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}



nav ul li a:hover {
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.503), inset 0 0 1px rgba(0, 0, 0, 0.6);  
  color: rgb(0, 0, 0);
}

nav a btn {
  padding: 18px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.932);
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.503), inset 0 0 1px rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.1);
}
