<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "About" }) %>
    <link rel="stylesheet" href="/style/about.css">
</head>

<body>
    <%- include('./common/navbar.ejs') %>
    
    
        <%- include('./common/scripts.ejs') %>
        <script src="/script/about.js"></script>
</body>

</html>