<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "About" }) %>
</head>

<body>
    <%- include('./common/navbar.ejs') %>

        <section class="header1 cid-qv1ftGjYqC mbr-parallax-background" id="header1-5" data-rv-view="9334"
            data-jarallax-original-styles="null"
            style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">



            <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(79, 73, 67);">
            </div>

            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="mbr-white col-md-10">
                        <h2 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                            FULL WIDTH HEADER</h2>
                        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                            Beautiful mobile websites
                        </h3>
                        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                            Full width intro with adjustable height, background image and a color overlay. Click any
                            text to
                            edit or style it.
                        </p>
                        <div class="mbr-section-btn align-center">
                            <a class="btn btn-md btn-primary display-4" href="https://mobirise.com">
                                <span class="mbr-iconfont mbri-file"></span>LEARN MORE</a>
                            <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.com">
                                <span class="mbr-iconfont mbri-idea"></span>LIVE DEMO</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="jarallax-container-1"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
                <div
                    style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/bootstrap-template/assets/images/samuel-fyfe-235457-2000x1333.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1046.54px; height: 697.52px; overflow: hidden; pointer-events: none; margin-left: -44.0708px; margin-top: 16.74px; visibility: visible; transform: translate3d(0px, 56.46px, 0px);">
                </div>
            </div>
        </section>
        <%- include('./common/scripts.ejs') %>
</body>

</html>