<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "Articles" }) %>
    <link rel="stylesheet" href="/style/articles.css">
</head>

<body>
<%- include('./common/navbar.ejs') %>
<p>
    <%= data %>
</p>
<%- include('./common/scripts.ejs') %>
<script src="/script/articles.js"></script>
</body>

</html>