<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "Home" }) %>
        <link rel="stylesheet" href="/style/home.css">
        <link href='https://fonts.googleapis.com/css?family=Merienda One' rel='stylesheet'>
</head>

<body>
    <%- include('./common/navbar.ejs') %>

        <header class="py-5 bg-image-full"
            style="background-image: url('/images/0ab78b8f8641471bc7bedf6738c25bcd.jpg');">

            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4 middlePicture" src="/images/middle.jpg" />
            </div>

        </header>

        <!-- Content section-->
        <section class="py-5">

            <div class="container my-5">

                <div class="row justify-content-center">
                    <div class="col-9 text-center">
                        <p class="text-black fs-3 mb-5 fw-bolder">WELLCOME TO ESTER</p>
                        <p class="text-black mb-3 " style="color: rgb(12, 71, 19)">READ ARTICLE, WRITE ARTICLE</p>
                        <p class="lead text-justify" style="color: rgb(12, 71, 19)">

                            This page shares my best articles to
                            read on topics like health, happiness, creativity, productivity and more. The central
                            question that drives my work is, “How can we live better?” To answer that question, I like
                            to write about science-based ways to solve practical problems.

                            You’ll find interesting articles to read on topics like how to stop procrastinating as well
                            as personal recommendations like my list of the best books to read and my minimalist travel
                            guide. Ready to dive in? You can use the categories below to browse my best articles.

                        </p>
                    </div>
                </div>

            </div>

        </section>

        <%- include('./common/scripts.ejs') %>
            <script src="/script/home.js"></script>
</body>

</html>