<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/header.ejs', {Document: "Articles" }) %>
        <link rel="stylesheet" href="/style/addArticle.css">
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
            type="text/css" />
</head>

<body>
    <%- include('../common/navbar.ejs') %>

        <div class="p-5">
            <form action="/articles/setup" method="post" enctype="multipart/form-data"
                class="form-horizontal row justify-content-center">
                <input type="file" name="articlePicture" class="form-control-file col-12 col-md-5 mb-5"
                    id="exampleFormControlFile1">
                <input type="text" placeholder="title" name="title" class="col-12 col-md-5 mb-5">
                <input type="text" placeholder="description" name="description" class="col-12 mb-5">
                <textarea id="mytextarea" name="content">
                start writing your article
        </textarea>
                <input type="submit" class="btn btn-primary mt-5" value="add article">
            </form>
        </div>

        <%- include('../common/scripts.ejs') %>
            <script src="/script/addArticle.js"></script>
            <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
            <script>
                new FroalaEditor('textarea');
            </script>
</body>

</html>