<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/header.ejs', {Document: "ADD ARTICLE " }) %>
        <link rel="stylesheet" href="/style/addArticle.css">
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
            type="text/css" />
</head>

<body class="px-5">
    <%- include('../common/navbar.ejs') %>

    <div class="container d-flex justify-content-center align-items-center" id="imageContainer">
        <i class='far fa-edit' style='font-size:36px'></i>
        <img src="" class="img-fluid col-12 d-none" style="max-height:400px;" alt="Responsive image" id="imageArticle">
    </div>

        <div class="p-5">
            <form action="/articles/setup" method="post" enctype="multipart/form-data" class="">

                <input type="file" name="articlePicture" id="formFile" class=" form-control col-12 col-md-12 m-0 mb-1 d-none" required>

                <p class="text-success head col-12 m-1 p-2">TITLE</p>
                <input type="text" name="title" class="col-12 col-md-12 m-0 mb-1" required>

                <p class="text-success head col-12 m-1 p-2">DESCRIPTION</p>
                <input type="text" name="description" class="col-12 m-0 mb-3" required>

                <textarea id="mytextarea" name="content">
    </textarea required>

                <input type="text" class="d-none" name="id">

                <input type="submit" class="btn btn-primary mt-5" value="add article">

            </form>
        </div>


        <%- include('../common/scripts.ejs') %>
            <script src="/script/addArticle.js"></script>
            <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
            <script>
                new FroalaEditor('textarea');
            </script>
</body>

</html>