<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/header.ejs', {Document: "ADD ARTICLE " }) %>
        <link rel="stylesheet" href="/style/addArticle.css">
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
            type="text/css" />
</head>

<body class="px-5">
    <%- include('../common/navbar.ejs') %>
    <section class="d-flex justify-content-center sectionArticle">

        <div class="col-8 border-right border-dark h-100">

            <form action="/articles/setup" method="post" enctype="multipart/form-data" class="col-12"
                id="formAddArticle">

                <section class="col-12 d-flex justify-content-center p-3 mb-4 border-bottom border-dark">

                    <div class="col-3 border p-2 m-2 " id="imageContainer">
                        <div class="overChoose">
                            <i class='far fa-edit' style='font-size:20px'></i> <span class='choose'> Choose image </span>
                        </div>
                        <img src="" class="img-responsive col-12 d-none" style="max-height:400px;"
                            alt="Responsive image" id="imageArticle">
                    </div>

                    <div class="col-9 p-2 m-2">
                        <input type="file" name="articlePicture" id="formFile"
                            class=" form-control col-12 col-md-12 m-0 mb-1 d-none " required>

                        <p class="text-success head col-12 m-1 p-2 ps-0 ms-0">TITLE</p>
                        <input type="text" name="title" class="col-12 col-md-12 m-0 mb-1" required>

                        <p class="text-success head col-12 m-1 p-2 ps-0 ms-0">DESCRIPTION</p>
                        <input type="text" name="description" class="col-12 m-0 mb-3" required>

                        <p class="text-success head col-12 m-1 p-2 ps-0 ms-0">Co-Author</p>
                        <input type="text" name="CoAuthor" class="col-12 col-md-12 m-0 mb-1">
                    </div>

                </section>

                <div>

                    <textarea id="mytextarea" name="content">
                </textarea required>

                <input type="text" class="d-none" name="id">

                <input type="button" class="btn btn-primary m-0 mt-3" value="add article" id="addArticleSubmit">

            </div>

        </form>

    </div>

    <div>
        <div class="comment">
            <h4 class="p-5">Commnets section</h4>
            <div class="container">
                <div class="row">
                    <form>
                        <div class="col-12">
                            <div class="media g-mb-30 media-comment">
                                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                    alt="Image Description">
                                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                    <div class="g-mb-15">
                                        <h5 class="h5 g-color-gray-dark-v1 mb-0">John Doe</h5>
                                    </div>

                                    <input type="text" class="col-12 form-control">

                                    <ul class="list-inline d-sm-flex my-0">
                                        <li class="list-inline-item ml-auto">
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                                                href="#!">
                                                <i class="g-pos-rel g-top-1 g-mr-3"></i>
                                                comment
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form> 

                    <form>
                        <div class="col-12">
                            <div class="media g-mb-30 media-comment">
                                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                    alt="Image Description">
                                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                    <div class="g-mb-15">
                                        <h5 class="h5 g-color-gray-dark-v1 mb-0">John Doe</h5>
                                        <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                                    </div>

                                    <p>Comment example for article writer
                                    </p>

                                    <ul class="list-inline d-sm-flex my-0">
                                        <li class="list-inline-item ml-auto">
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                                                href="#!">
                                                <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                                                Reply
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form> 

    </section>
    </div>
        <!-- <form action="/articles/setup" method="post" enctype="multipart/form-data" class="" id="formAddArticle">

            <div class="container d-flex justify-content-center align-items-center topDiv" id="imageContainer">
                <div class="col-3">
                   
                </div>

                <div class="col-9">
                    <input type="file" name="articlePicture" id="formFile"
                        class=" form-control col-12 col-md-12 m-0 mb-1 d-none " required>

                    <p class="text-success head col-12 m-1 p-2 ps-0 ms-0">TITLE</p>
                    <input type="text" name="title" class="col-12 col-md-12 m-0 mb-1" required>

                    <p class="text-success head col-12 m-1 p-2 ps-0 ms-0">DESCRIPTION</p>
                    <input type="text" name="description" class="col-12 m-0 mb-3" required>

                    <p class="text-success head col-12 m-1 p-2 ps-0 ms-0">Co-Author</p>
                    <input type="text" name="CoAuthor" class="col-12 col-md-12 m-0 mb-1">
                </div>
            </div>

            <div class="container p-0">


                <textarea id="mytextarea" name="content">
                </textarea required>

                <input type="text" class="d-none" name="id">

                <input type="button" class="btn btn-primary m-0 mt-3" value="add article" id="addArticleSubmit">

        </div>
        
    </form> -->



        <div class="toast" style="position: absolute; top: 20px; right: 20px;">
            <div class="toast-header">
                <strong class="mr-auto">Message</strong>
                <button id="toastBtn" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">

            </div>
        </div>

        
        <%- include('../common/scripts.ejs') %>
            <script src="/script/addArticle.js"></script>
            <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
            <script>
                new FroalaEditor('textarea');
            </script>
</body>

</html>