<link rel="stylesheet" href="/style/navbar.css">
<nav>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
    </ul>
</nav>