<link rel="stylesheet" href="/style/navbar.css">
<nav>
    <ul>
        <li>
            <a href="/home"><span class="d-none">Home</span> <i class="fas fa-home"></i></a>
        </li>
        <li>
            <a href="/articles"><span class="d-none">Articles</span><i class="fas fa-newspaper"></i>

            </a>
        </li>
        <li>
            <a href="/about"><span class="d-none">About</span><i class="fas fa-info"></i>

            </a>
        </li>
        <li>
            <a href="/contact"><span class="d-none">Contact</span> <i class="fas fa-address-book"></i>

            </a>
        </li>
        <li>
            <a href="/dashboard"> <span class="d-none">Dashboard</span> <i class="fa fa-tachometer"></i></a>
        </li>
    </ul>
</nav>