<link rel="stylesheet" href="/style/navbar.css">
<nav class="sticky-top">
    <ul>
        <li>
            <a class="navbarALink" href="/home"><span >Home</span> <i class="fas fa-home"></i></a>
        </li>
        <li>
            <a class="navbarALink" href="/articles/all"><span>Articles</span><i class="fas fa-newspaper"></i>

            </a>
        </li>
        <li>
            <a class="navbarALink" href="/about"><span>About</span><i class="fas fa-info"></i>

            </a>
        </li>
        <li>
            <a class="navbarALink" href="/contact"><span>Contact</span> <i class="fas fa-address-book"></i>

            </a>
        </li>
        <li>
            <a class="navbarALink" href="/dashboard"> <span >Dashboard</span> <i class="fa fa-tachometer"></i></a>
        </li>
    </ul>
</nav>
    