<link rel="stylesheet" href="/style/navbar.css">
<nav>
    <ul>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/articles">Articles</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
    </ul>
</nav>